

*{
    margin: 0;
    box-sizing: border-box;
    background: rgb(250, 238, 205);
}

h1{
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.col{  
    background: rgb(207, 168, 168);
    border: 1px solid black;  
    margin-top: 5px;
    float: left;
}
h3{
    float: right;
    background: rgb(255, 181, 69);
    border: 1px solid black;
}
p{
    clear: right;
    width: 90%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background: rgb(207, 168, 168);
}
.wrap{    
    width: 90%;
    margin: auto;
    background: rgb(207, 168, 168);
}
@media (min-width:992px){
    #col1{
        width: 33.3%;
    }
    #col2{
        width: 33.3%;
    }
    #col3{
        width: 33.3%;
    }
} 
@media (max-width:991px) and (min-width:768px){
    #col1{
        width: 50%;
    }
    #col2{
        width: 50%;
    }
    #col3{
        width: 100%;
    }
}
@media (max-width:767px){

}
/*
@media (min-width:992px) { /*desktop view
    .col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float:left;
        border: 1px solid black;
        
    }
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}*/
/*@media (max-width:991px) and (min-width:768px) { /*tablet view
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float:left;
        border: 1px solid black;
    }
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}
@media (max-width:767px) { /*mobile view
    .col--1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float:left;
        border: 1px solid black;
    }
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}
*/